[submodule "Consulta-Credito-Api"]
	path = Consulta-Credito-Api
	url = https://github.com/Trajy/Consulta-Credito-Api.git
[submodule "Consulta-Credito-Web"]
	path = Consulta-Credito-Web
	url = https://github.com/Trajy/Consulta-Credito-Web.git
